[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "histry"]
	path = histry
	url = https://github.com/cran/histry
[submodule "roprov"]
	path = roprov
	url = https://github.com/gmbecker/roprov
[submodule "SearchTrees"]
	path = SearchTrees
	url = https://github.com/gmbecker/searchtrees
[submodule "switchr"]
	path = switchr
	url = https://github.com/gmbecker/switchr
